* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
body.no-scroll {
  overflow: hidden;
}

.header-container {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #1f485b;
  padding: 20px 40px;
  height: 10vh;
}
.header-container .header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.header-container .header-left .logo-image {
  width: 50px;
  height: 50px;
}
.header-container .header-left .logo-text {
  font-weight: normal;
}
.header-container .header-left .hamburger {
  display: none;
  cursor: pointer;
}
.header-container .header-left:hover {
  cursor: pointer;
}
.header-container .header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}
.header-container .header-right .nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.header-container .header-right .nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
  font-size: 1rem;
  font-weight: 300;
}
.header-container .header-right .nav ul li a:hover {
  color: #00d0ff;
  text-shadow: 0 0 8px #00d0ff, 0 0 15px #00d0ff, 0 0 20px #00d0ff;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.header-container .header-right img {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 45px;
  height: 45px;
  align-items: center;
  cursor: pointer;
}
.header-container .side-nav {
  display: none;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  width: 250px;
  background-color: #1f485b;
  padding: 20px;
  z-index: 1000;
  transition: left 0.3s ease;
}
.header-container .side-nav ul {
  list-style: none;
  width: 100%;
}
.header-container .side-nav ul li {
  width: 100%;
  margin: 10px 0;
}
.header-container .side-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  width: 100%;
}
.header-container .side-nav ul li a:hover {
  color: #00d0ff;
  text-shadow: 0 0 8px #00d0ff, 0 0 15px #00d0ff, 0 0 20px #00d0ff;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.header-container .side-nav.active {
  left: 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #1f485b;
  padding: 20px 40px;
  height: 10vh;
}
.footer-container .footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.footer-container .footer-left .logo-image {
  width: 50px;
  height: 50px;
}
.footer-container .footer-left .logo-text {
  font-weight: normal;
}
.footer-container .footer-left:hover {
  cursor: pointer;
}
.footer-container .footer-right {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.footer-container .footer-right a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .header-container {
    padding: 15px 30px;
  }
  .header-container .header-left .logo-image {
    width: 30px;
    height: 30px;
  }
  .header-container .header-left .logo-text {
    font-size: 1.2rem;
  }
  .header-container .header-right {
    gap: 20px;
  }
  .header-container .header-right .nav ul li a {
    font-size: 0.9rem;
    padding: 0 10px;
  }
  .header-container .header-right img {
    width: 30px;
    height: 30px;
  }
  .footer-container {
    padding: 15px 30px;
  }
  .footer-container .footer-left .logo-image {
    width: 30px;
    height: 30px;
  }
  .footer-container .footer-left .logo-text {
    font-size: 1.2rem;
  }
  .footer-container .footer-right a {
    font-size: 0.9rem;
    padding: 0 10px;
  }
}
@media (max-width: 426px) {
  .header-container {
    padding: 15px 20px;
  }
  .header-container .header-left {
    gap: 10px;
  }
  .header-container .header-left .logo-image {
    width: 20px;
    height: 20px;
  }
  .header-container .header-left .hamburger {
    display: flex;
    width: 20px;
    height: 15px;
  }
  .header-container .header-left .logo-text {
    display: none;
  }
  .header-container .header-right {
    gap: 20px;
  }
  .header-container .header-right .nav {
    display: none;
  }
  .header-container .header-right img {
    width: 20px;
    height: 20px;
  }
  .side-nav.active {
    display: block;
  }
  .footer-container {
    padding: 15px 20px;
    justify-content: space-between;
  }
  .footer-container .footer-left {
    gap: 10px;
  }
  .footer-container .footer-left .logo-image {
    width: 20px;
    height: 20px;
  }
  .footer-container .footer-left .logo-text {
    font-size: 0.8rem;
  }
  .footer-container .footer-right {
    align-items: center;
    flex-grow: 0;
  }
  .footer-container .footer-right a {
    font-size: 0.8rem;
    padding: 0 5px;
  }
}

/*# sourceMappingURL=style.css.map */
