$primary-color: #1f485b;
$glow-color: #00d0ff;
$background-color: rgb(250, 250, 250);
$border-color: #1f485b;
$text-color: black;
$secondary-text-color: rgb(44, 44, 44);
$primary-hover-color: #03afff;
